# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
*.tfvars

# Python
__pycache__/
*.pyc
*.pyo

# Local Lambda test output
response.json
output.json
